@import "tailwindcss";

:root {
  --background: #1a1614; /* Deep Coffee */
  --foreground: #f5f5f4;
}

body {
  /* Gradasi Warm dari cokelat kayu ke espresso gelap */
  background: radial-gradient(circle at center, #322b28 0%, #1a1614 100%);
  color: var(--foreground);
  font-family: serif;
  min-height: 100vh;
}

@utility classic-card {
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
  
  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-color: #d97706; /* amber-600 */
    box-shadow: 0 0 50px rgba(217, 119, 6, 0.1);
    transform: translateY(-10px);
  }
}